* {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}

button {
  background-color: #1865f2;
  height: 60px;
  color: white;
  border: none;
  font-size: 0.9em;
  font-weight: bold;
  padding-left: 10px;
  padding-right: 10px;
}

select {
  border: 0;
  font-size: 0.7em;
}

li {
  list-style: none;
  margin: 20px;
}

ul {
  display: flex;
  justify-content: center;
}

.start {
  margin-top: 15px;
}

.center {
  margin-left: 150px;
  margin-right: 150px;
}

header {
  padding-top: 40px;
  margin: auto;
  width: 60%;
  height: 600px;
}

header figure {
  float: left;
  width: 500px;
}

header article {
  padding-top: 50px;
  overflow: auto;
  width: 40%;
}

header article h1 {
  font-size: 3em;
}

header article p {
  padding-bottom: 30px;
}

@media (max-width: 1630px) {
  header figure {
    float: left;
    width: 400px;
  }
  header article h1 {
    font-size: 1.5em;
  }
}
@media (max-width: 1362px) {
  header figure {
    width: 40%;
  }

  header article {
    padding-left: 40px;
    overflow: auto;
  }

  header {
    margin: 100px;
    background-color: ;
    width: 100%;
  }
}

@media (max-width: 1179px) {
}

@media (max-width: 1234px) {
  header figure {
    display: none;
    width: 50%;
    margin: 0;
  }
  header article {
    width: 100%;
  }

  header {
    width: fit-content;
    align-items: baseline;
  }
}

@media (max-width: 520px) {
  header figure {
    display: none;
  }

  header {
    padding-left: 20px;
    margin: 0;
  }

  .students-main {
    padding: 0;
  }

  header article {
    width: fit-content;
    margin: 0;
  }
}

/* Section WORKS */

@media (max-width: 1350px) {
  main {
    margin-top: 300px;
  }
}

@media (max-width: 1235px) {
  main {
    margin-top: 500px;
  }
}

@media (max-width: 1184px) {
  .works article {
    clear: both;
  }

  .works-main {
    overflow: auto;
  }
}

@media (max-width: 5020px) {
  main {
    margin-top: 0;
  }
}

.works-main {
  padding-top: 100px;
  background-color: rgb(243, 243, 243);
  width: auto;
}

.works {
  height: 500px;
  margin: auto;
  width: fit-content;
}
.works h1 {
  text-align: center;
  font-size: 2em;
}

.works article {
  float: left;
  width: 300px;
  text-align: center;
  margin-left: 90px;
}

/* Teachers */

.teachers-main {
  height: 500px;
}

.teachers img {
  margin-left: 200px;
  float: left;
  width: 40%;
  margin-top: 100px;
}

.teachers article {
  padding-top: 100px;
  width: 600px;
  overflow: auto;
}

.teachers-p {
  font-size: 12px;
  color: lightslategray;
}

.teachers article p {
  margin-bottom: 50px;
}
.teachers article h3 {
  font-size: 2em;
}

@media (max-width: 1667px) {
  .teachers img {
    margin-left: 100px;
  }
}

@media (max-width: 1179px) {
  .teachers img {
    margin-left: 50px;
  }
}

@media (max-width: 1095px) {
  .teachers img {
    display: none;
  }

  .teachers article {
    text-align: center;
    width: 100%;
    padding-top: 0;
  }

  .teachers-main {
    padding-top: 20px;
    width: 100%;
  }

  .teachers {
    margin-top: 0;
  }
}

@media (max-width: 1126px) {
  .teachers img {
    width: 20%;
  }
}

/* Students and learn */

@media (max-width: 520px) {
  .teachers {
    text-align: center;
  }

  .teachers-main {
    width: fit-content;
  }
}

.students-main {
  clear: both;
  padding-top: 300px;
  padding-left: 10%;
}

.students-main article {
  float: left;
}

.students-main img {
  width: 50%;
}

.students p {
  font-size: 18px;
  color: lightslategray;
}

.students h3 {
  font-size: 2em;
}

@media (max-width: 1104px) {
  .students-main img {
    width: 30%;
  }
}

@media (max-width: 1095px) {
  .students-main img {
    display: none;
  }

  .students-main {
    padding: 0px;
  }

  .students {
    text-align: center;

    width: 100%;
    padding-bottom: 50px;
  }
}

@media (max-width: 520px) {
  .students {
    text-align: center;
  }

  .students-main {
    margin-top: 0px;
    width: fit-content;
  }
}

/* Quote from Author */

.author-main {
  clear: both;
  text-align: center;
  background-color: rgb(243, 243, 243);
  width: 100%;
  padding-top: 80px;
}

.author-main figure {
  margin-right: 0;
  text-align: right;
}

.author {
  margin: auto;

  width: 40%;
}

@media (max-width: 520px) {
  .author figure img {
    display: none;
  }

  .author {
    width: fit-content;
  }

  .author figure {
    padding-right: 20px;
  }
}

@media (max-width: 800px) {
  .author figure img {
    display: none;
  }

  .author {
    width: fit-content;
    padding-right: 30px;
  }
}

@media (max-width: 1050px) {
  .author {
    width: fit-content;
    padding-right: 30px;
  }
}

/* Together */

.together-main article h3 {
  font-size: 2em;
}

.together-p {
  color: gray;
  font-size: 1em;
}

.together-main {
  text-align: center;
  padding-top: 80px;
}

@media (max-width: 520px) {
  .together-main img {
    display: none;
  }
}

@media (max-width: 824px) {
  .together-main img {
    display: none;
    width: 20%;
  }
}

@media (min-width: 824px) {
  .together-main img {
    display: inline-block;
    width: 50%;
  }
}

@media (min-width: 1028px) {
  .together-main img {
    float: left;
    display: inline-block;
    width: 50%;
    margin-bottom: 100px;
  }

  .together {
    text-align: left;
  }

  .together-main {
  }
}

/* Join Khan Academy */

.join-main {
  clear: both;
  margin: auto;
  margin-top: 100px;
  text-align: center;
  background-image: url(images/join.jpg);
  background-position: cover;
  background-repeat: no-repeat, repeat;
  width: fit-content;
  background-position: center;
}

.join-main h2 {
  font-size: 1.7em;
}

.join-main ul {
  display: block;
}

.join-main ul li {
  list-style: none;
  margin: 10px;
}

.join-main ul li button {
  min-width: 300px;
}

/* Supporters */

.support-main {
  background-color: rgb(243, 243, 243);
  margin-top: 100px;

  text-align: center;
}

.support-main h2 {
  padding-top: 80px;
  text-align: center;
  font-size: 1.5em;
  padding-bottom: 40px;
}

.support-main ul li {
  padding: 30px;
  list-style: none;
}

.support-main ul {
  padding: 0;
  display: block;
}

@media (min-width: 500px) {
  .support-main ul li {
    text-align: center;
    margin: 0;
    padding: 0;
  }

  .support-main ul li img {
    padding: 30px;
    width: 30%;
  }
}

@media (min-width: 900px) {
  .support-main ul li {
    text-align: center;

    display: inline;
    margin: 0;
    padding: 0;
  }

  .support-main ul li img {
    padding: 30px;
    width: 20%;
  }
}

@media (min-width: 1200px) {
  .support-main ul li {
    text-align: center;

    display: inline;
    margin: 0;
    padding: 0;
  }

  .support-main ul li img {
    padding: 30px;
    width: 10%;
  }
}

/* footer */

footer {
  background-color: #0a2a66;
  height: 1300px;
}

footer article {
  color: #d3d3d3;
  text-align: center;
  padding: 20px;
  font-weight: bold;
}

footer ul {
  
  display: inline-block;
  padding: 0;
  float: left;
}

footer ul li {
  
  color: white;
  font-size: 0.8em;
}

footer ul li a {
  text-decoration: none;
  color: white;
  font-size: 0.8em;
}

.apps-ul {
  overflow: auto;
}

.contacts {
  padding-top: 50px;
  color: #d3d3d3;
}

.downloads,
.courses {
  color: #d3d3d3;
}

/* footer language selection */

.footer-lang {
  clear: both;
  text-align: center;
  color: #d3d3d3;
}

.footer-lang ul {
  margin: 0;
  width: 100%;
}

.footer-lang ul li {
  margin-left: 0px;
  margin-right: 30px;
  color: #d3d3d3;
  font-size: 0.7em;
  display: inline-block;
}

.footer-lang ul li a {
  text-decoration: none;
}

.copyright {

height: 300px;
  padding-top: 10px;
  text-align: center;
  margin: 0;
}
.copyright ul li {
  margin: 5px;
}
.copyright ul {
  margin: 0;
  width: 100%;
}
.social li a img {
  width: 30px;
}

.social li {
  display: inline-block;
  padding: 0;
  margin: 2px;
}

.social {
  margin: 0;
  margin: 0;
  width: fit-content;

}
