li{
list-style: none;
margin: 20px;
}

ul{
    display: flex;

 
}

header{
    display: flex;
}

header figure{
    display: flex;
    justify-content: flex-end;
    border: red 1px blue;
}

header article{
display: flex;
flex-direction: column;
margin-top: 110px;
}
header article h1{
    font-size:xx-large;

}